<h3>Additional User</h3>

<%= form_for :post, url: usr_role_create_path do |f| %>
    <p>
      <%=f.text_field :email,{:class => 'form-control'} %>
    </p>

    <p>
      <%=f.text_field :role,{:class => 'form-control'} %>
    </p>

    <div class="form-group">
      <%= f.submit({:value=>'Register',:class => 'btn btn-primary'})%>
    </div>
<% end %>
