<div class="raw">
  <div class="col-md-12">
    <div class="form-group form-merchant">
      <%=f.text_field :material,{:class => 'form-control', :placeholder => 'material'} %>
    </div>
  </div>
</div>
<div class="raw">
  <div class="col-md-12">
    <div class="form-group form-merchant">
      <%=f.text_field :color,{:class => 'form-control', :placeholder => 'color'} %>
    </div>
  </div>
</div>
<div class="raw">
  <div class="col-md-12">
    <div class="form-group form-merchant">
      <%=f.text_field :room,{:class => 'form-control', :placeholder => 'room'} %>
    </div>
  </div>
</div>
