<style>
  .heading-merchant{
    color: #cc4756;
    font-weight: bold;
    font-size: 70px;
    font-family: Sans-Serif;

  }
  .subheading-merchant{
    color: #c24ccc;
    font-size: 25px;
    font-family: Sans-Serif;
    margin-top: -5px;
    padding-bottom: 35px;
  }
  .merchant-forms{
    padding-bottom: 30px;
  }
  .merchant-submit{
    margin-top: 30px;
    float: right;
    width: 150px;
    height: 50px;
  }
</style>

<div class="container">
  <div class="row">
    <center><h1 class="heading-merchant">MERCHANT REGISTRATION</h1>
      <h2 class="subheading-merchant">Give us few details to set you up! Your page will be ready in no time</h2></center>
  </div>
  <div class = "well">
    <div class="merchant-forms">
      <%= render "usr_vender/form_vender_shop_details" %>
    </div>
    <div class="merchant-forms">
      <%= render "usr_vender/form_vender_user_register" %>
    </div>
    <div class="merchant-forms">
      <%= render "additional_user" %>
    </div>
    <div class="col-md-12">
      <button class="btn btn-primary merchant-submit">Register</button>
    </div>
 </div>
</div>