
  <div class="raw">
    <div class="col-md-12">
      <div class="form-group form-merchant">
        <%= f.text_field :address_line1, class: "form-control inputs",placeholder:"Street Address 1" %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group form-merchant">
        <%= f.text_field :address_line2, class: "form-control inputs",placeholder:"Street Address 2" %>
      </div>
    </div>
  </div>
  <div class="raw">
    <div class="col-md-6">
      <div class="form-group form-merchant">
        <%= f.text_field :city, class: "form-control inputs",placeholder:"City" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group form-merchant">
        <%= f.text_field :zip_code, class: "form-control inputs",placeholder:"Postal Code" %>
      </div>
    </div>
  </div>
