<style>
  .heading-merchant{
    color: #cc4756;
    font-weight: bold;
    font-size: 70px;
    font-family: Sans-Serif;

  }
  .subheading-merchant{
    color: #c24ccc;
    font-size: 25px;
    font-family: Sans-Serif;
    margin-top: -5px;
    padding-bottom: 35px;
  }
  .merchant-forms{
    padding-bottom: 30px;
  }
  .merchant-submit{
    margin-top: 30px;
    float: right;
    width: 150px;
    height: 50px;
  }
  .rectangle{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top:30px;
  }
  .form-merchant{
    padding-bottom: 10px;
  }
  .inputs{
    border-color: #44caff;
    border-width: 2px;
    height:40px;
  }
  #form_vender_branch{
  }
  .add-new-user{
    margin-top: -92px;
    margin-right: 80px;
  }

  .addNew_btn{
    width: 30px;
    height: 30px;
    border: 2px dashed;
    border-color: #1E90FF;
    position: absolute;
    margin-top: -95px;
  }
  .addNew_btn:hover{
    background-color: transparent !important;
    border-color: #00BFFF;
    cursor:pointer
  }

</style>

<script>
  function addNewUser(){
      document.getElementById('new_user').click();
  }
</script>

<div class="container">
  <div class="row">
    <center><h1 class="heading-merchant">MERCHANT REGISTRATION</h1>
      <h2 class="subheading-merchant">Give us few details to set you up! Your page will be ready in no time</h2></center>
  </div>

    <% if current_usr_contact %>
      <div class="merchant-forms">
        <%= render "usr_vendor_properties/form_vendor_loged_user_register" %>
      </div>
    <% else %>
      <div class="merchant-forms">
        <%= render "usr_vendor_properties/form_vendor_user_register" %>
      </div>

      <div class="merchant-forms">
        <center><button class="add-new-user addNew_btn" onclick="addNewUser()" id="add-new-usr">+</button></center>

      </div>

    <% end %>

</div>