<style>

  /*footer styles*/
  /**********************************************************/
  body {
    /* Margin bottom by footer height */
    margin-bottom: 0px;
    height: 100%;
  }

  .footer {
    position:relative;
    bottom:0;
    width:100%;
    right: 0;
    left: 0;
    background-color: #2B5176;
  }

  .footer_dv {
    width: 100%;
  }

  .footer_dv h4 {
    color: #f0d01d;
    font-family: roboto;
    /*font-weight: bold;*/
    margin-bottom: 15px;
    /*text-transform: uppercase;*/
  }

  .footer_dv h5{
    color: white;
    font-size: 30px;
  }

  .footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }

  .footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
  }

  .footer_dv ul li {
    /*border-top: 1px solid #000;*/
    /*box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);*/
    color: #f1f2f2;
    padding: 5px 0;
  }

  .footer_dv li a:hover {

    background: transparent;

  }

  .footer_dv p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
  }

  .footer-social{
  display: inline-flex;
  }

  .footer-social img{
    width: 45px;
    margin: 10px;
  }
  .container-fluid-custom{
    background-color: #2B5176;
  }
  /****************************************************************/
</style>

<footer class="footer "> <!-- navbar-fixed-bottom -->
  <div class="container-fluid container-fluid-custom">
    <div class="row" style="margin-bottom: 50px; margin-left: 100px">
      <div class="col-lg-8  col-md-8 col-sm-8" style="margin-top: 25px">

        <div class="col-lg-3  col-md-4=3 col-sm-3">
          <div class="footer_dv">
            <h4>About us</h4>
            <ul>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3  col-md-3 col-sm-3">
          <div class="footer_dv">
            <h4>Help and Support</h4>
            <ul>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3  col-md-3 col-sm-3">
          <div class="footer_dv">
            <h4>News & Info</h4>
            <ul>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3  col-md-3 col-sm-3">
          <div class="footer_dv">
            <h4>Sell on Smartmall</h4>
            <!--<ul class ="footer-social">-->
              <!--<li><a href="http://www.facebook.com"><img src='../assets/Facebook_logo' /></a></li>-->
              <!--<li><a href="http://www.twitter.com"><img src='../assets/Twitter_logo' /></a></li>-->
              <!--<li><a href="http://www.youtube.com"><img src='../assets/Youtube_logo' /></a></li>-->
            <!--</ul>-->
            <ul>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
              <li>Sell on Smartmall</li>
            </ul>

          </div>
        </div>

      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h5 style="margin-top: 70px">Hotline: +94 777 466 566</h5>
          <h5>ask@giftsmart.lk</h5>
          <ul class ="footer-social">
            <li><a href="http://www.facebook.com"><%= image_tag 'Facebook_logo.png'%></a></li>
            <li><a href="http://www.twitter.com"><%= image_tag 'Twitter_logo.png'%></a></li>
            <li><a href="http://www.youtube.com"><%= image_tag 'Youtube_logo.png'%></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>
